  <div class="page-topbar">
    <div class="container">
      <a class="page-topbar-logo" href="/">JSDC</a>
      <nav class="page-topbar-nav">
        <a class="page-topbar-nav-toggle-button"></a>
        <ul class="page-topbar-links">
          {% for item in site.menu %}
            {% if item.page == page.type %}
              <li class="page-topbar-link active"><a href="{{ item.href }}">{{ item.text }}</a>
            {% else %}
              <li class="page-topbar-link"><a href="{{ item.href }}">{{ item.text }}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
