@media all and (max-width: 1024px) {
	.container {
		width: auto;
		margin: 0;
		padding: 0 24px;
	}

	.page-topbar-logo {
		left: 24px;
	}

	.home-page-header-title,
	.home-page-header-learnmore,
	.home-page-header-description {
		margin-right: 24px;
	}

	.article-list-item {
		width: 48%;
	}
}
