{% include head.html %}
{% assign author = site.authors[page.author] %}

<main role="main">
  <div class="container clearfix">
    <article class="article post-page-article">
      <div class="article-sidebar">
        <nav class="article-table-of-contents">
          <h2 class="article-sidebar-title">Table of Contents</h2>
          <ul>
            {% for item in page.tableOfContents %}
              <li><a href="{{ item.link }}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="article-main">

        <header class="article-header">
          <h2 itemprop="name" class="article-title">{{ page.title }}</h2>
          <span class="article-authortime">By <span itemprop="author">{{ author.name }}</span> at <time itemprop="datePublished">{{ page.date | date_to_string }}</time></span>
          <div class="article-tags">
            {% for tag in page.tags %}
              <a href="http://google.com/#q=site:{{ site.domain }}%20{{ tag }}" class="article-tag">#{{ tag }}</a>
            {% endfor %}
          </div>
        </header>

        <div itemprop="articleBody" class="article-entry">
          {{ content }}
        </div>
        <div class="social-button">
          <span class='st_sharethis_hcount' displayText='ShareThis'></span>
          <span class='st_facebook_hcount' displayText='Facebook'></span>
          <span class='st_twitter_hcount' displayText='Tweet'></span>
          <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
          <span class='st_pinterest_hcount' displayText='Pinterest'></span>
          <span class='st_email_hcount' displayText='Email'></span>
        </div>
        <div class="author">
          <li class="article-list-item">
            <article class="article">
              <a href="{{ post.url }}">
                <img class="article-author-avatar" alt="author: {{ author.name }}" src="{{ author.avatar }}" />
              </a>
            </article>
          </li>
        </div>

      </div>
    </article>
  </div>
</main>

{% include foot.html %}
